{% extends "food/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Menu</title>
</head>
<body>
    {% block body %}
    {% for product in products %}
    <div class="row">
        <div class="col-md-3 offset-md-2">
            <img height="200" src="{{product.pic}}" class="card" />
        </div>
        <div class="col-md-4">
            <h3>{{product.name}}</h3>
            <h4>{{product.price}}</h4>
            <h7>{{product.desc}}</h7>
        </div>
        <div class="col-md-2">
            <a href="{%url 'food:detail' product.id%}" class="btn btn-success">Details</a>
        </div>
    </div>
    {% endfor %}
    {% endblock%}
</body>
</html>
#