.food{
    border: 1px solid rgb(94, 94, 94);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.144);
    padding: 20px;
    margin: 10px;
    max-width: 1500px;
    
}

.food:hover{
    background-color: #e3f2fd;
    transition: background-color 0.3s ease;
}
.pics{
    border-radius: 10px;
    -webkit-mask-image: radial-gradient(circle, white 50%, transparent 100%);
    mask-image: radial-gradient(circle, white 50%, transparent 100%);
    object-fit: cover;
}

.det_pic{
    max-width: 60%;
    height: auto;
    border-radius: 50;
    margin-bottom: 10px;
}
/* The profile part */
.card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50;
    margin-bottom: 10px; 
}

.card-title {
font-family: Arial, sans-serif;
margin: 0;
color: rgb(31, 31, 31);     
}

.cart {
    border: 1px solid rgb(94, 94, 94);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.144);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;


}
.site-bg {
    background-image: url('/pictures/blank.jpg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        min-height: 100vh;
}

